<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP11_ProyectoIntegral</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP11_ProyectoIntegral.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/casita_del_logo_(sin_fondo).png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>

<body>
<header style="background-color:black" style="height:5%">


<div class="offcanvas offcanvas-start bg-color " tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel"><img class="img-Logo" src="/Fotos/Logo-BookHook.png"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close" style="bacground-color:white"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          @if(BD.user != null){
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="AgregarLibro">Agregar un Libro</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar Sesion</a>
          </li>
          }
          else {
            <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="login">Iniciar Sesion</a>
          </li>
          }
      </ul>
      </div>
    </div>

      <div class="offcanvas offcanvas-start bg-color" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel"><img class="img-Logo" src="/Fotos/Logo-BookHook.png"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="bacground-color:white"></button>
        </div>
        
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          
          @if(BD.user != null){
            
          
          <li class="nav-item">

            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="AgregarLibro">Agregar un libro</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar Sesion</a>
          </li>
          }
          else {
            <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="login">Iniciar Sesion</a>
          </li>
          }
        </div>
      </div>

    <nav class="navbar navbar-expand-lg">
        <div class="d-flex container-fluid">
          <div class="div-expand">
              <div class="d-flex flex-row">
            <button class="navbar-toggler color-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive"  aria-controls="offcanvasResponsive">
                <img src="/Fotos/navbar-toggler-icon.png" alt="">
              </button>
              <a class="navbar-toggler" asp-controller="Home" asp-action="Index"><img class="img-Logo" src="/Fotos/Logo-BookHook.png"></a>
            </div>
          </div>
          <div class="img-element">
            <a href="#"><img class="navbar-toggler border border-0" src="lupa.png" alt=""></a>
            <img class="navbar-toggler border border-0" src="aeaeaea.jpg" alt="">
          </div>
          
          <div class="collapse navbar-collapse" id="offcanvasResponsive">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item d-flex align-items-center">
                <button class="btn color-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <img src="/Fotos/navbar-toggler-icon.png" alt="">
                  </button>
              </li>

              <li class="nav-item d-flex align-items-center ms-1">
                <a class="nav-link " asp-controller="Home" asp-action="Index"><img class="img-Logo" src="/Fotos/Logo-BookHook.png"></a>
              </li>

            </ul> 
            <div class="navbar-derecha">
              <form class="d-flex" method="post" action='@Url.Action("BuscarLibro")'>
                <div class="form-buscador">
                <input id="loquepongaenelbuscador" name="loquepongaenelbuscador" class="form-buscador form-control me-2" type="text" placeholder="Buscar Libro" autocomplete="off" aria-label="Search">
                </div>
                 <!--<button id="miBoton" typeonclick="toggleColor()">Presionar Botón</button> -->
                
                <input type="hidden" id="estadoBoton" value="false">  
                <button class="button0" type="submit">
  <span>
    <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z"></path></svg>
  </span>
</button>
          @if (BD.user == null){
            <a class="dropdown-item le-color kali" asp-area="" asp-controller="Home" asp-action="login" onclick="">Iniciar Sesión</a>
          }
          else{
            <a asp-controller="Home" asp-action="Perfil" style="text-decoration: none; float: left; display: flex; margin-left:2%">
              @if(BD.user.Genero !=null){
                if(BD.user.Genero.ToLower() == "hombre"){
                <img src="/Fotos/PerfilHombre.jpg"alt="" style="border-radius: 100%;">
              }
              else if(BD.user.Genero.ToLower() == "mujer"){
                <img src="/Fotos/PerfilMujer.jpg"alt=""style="border-radius: 100%;">
              }
              else{
                <img src="/Fotos/PerfilDefault.png"alt=""style="border-radius: 100%;">
              }
              }
              else{
                <img src="/Fotos/PerfilDefault.png"alt=""style="border-radius: 100%;">
              }
            <h5 class="card-title" style="margin-top: 10px; margin-left: 5px">
            <b>@BD.user.NombreUsuario</b>
            </h5>
            </a>
          }
              </form>
              <img src="aeaeaea.jpg" alt="">
            </div>

          </div>
        </div>
      </nav>
      

</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
