<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP11_ProyectoIntegral</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP11_ProyectoIntegral.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/casita_del_logo_(sin_fondo).png" />
</head>
<body style="background-color:rgb(131, 131, 131)">
<header style="background-color:black" style="height:5%">


<div class="offcanvas offcanvas-start bg-color " tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel"><img class="img-Logo" src="/Fotos/Logo-BookHook.png"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="AgregarLibro">Agregar un Libro</a>
          </li>
          @if(BD.user != null){
          <li class="nav-item">

            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar Sesion</a>
          </li>
          }
          else {
            <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="login">Iniciar Sesion</a>
          </li>
          }
      </ul>
      </div>
    </div>

      <div class="offcanvas offcanvas-start bg-color" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel"><img class="img-Logo" src="/Fotos/Logo-BookHook.png"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <div class="container offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="AgregarLibro">Agregar un libro</a>
          </li>
          @if(BD.user != null){
            
          
          <li class="nav-item">

            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar Sesion</a>
          </li>
          }
          else {
            <li class="nav-item">
            <a class="dropdown-item le-color" asp-area="" asp-controller="Home" asp-action="login">Iniciar Sesion</a>
          </li>
          }
        </div>
      </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="d-flex container-fluid">
          <div class="div-expand">
              <div class="d-flex flex-row">
            <button class="navbar-toggler color-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive"  aria-controls="offcanvasResponsive">
                <img src="/Fotos/navbar-toggler-icon.png" alt="">
              </button>
              <a class="navbar-toggler" asp-controller="Home" asp-action="Index"><img class="img-Logo" src="/Fotos/Logo-BookHook.png"></a>
            </div>
          </div>
          <div class="img-element">
            <a href="#"><img class="navbar-toggler border border-0" src="lupa.png" alt=""></a>
            <img class="navbar-toggler border border-0" src="aeaeaea.jpg" alt="">
          </div>
          
          <div class="collapse navbar-collapse" id="offcanvasResponsive">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item d-flex align-items-center">
                <button class="btn color-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <img src="/Fotos/navbar-toggler-icon.png" alt="">
                  </button>
              </li>

              <li class="nav-item d-flex align-items-center ms-1">
                <a class="nav-link " asp-controller="Home" asp-action="Index"><img class="img-Logo" src="/Fotos/Logo-BookHook.png"></a>
              </li>

              <!--<li class="nav-item">
                <a class="nav-link" href="#">NADA</a>
              </li>-->

            </ul> 
            <div class="navbar-derecha">
<<<<<<< HEAD
              <form class="d-flex" role="search">
                <input class="form-control me-2" id="Buscador" type="search" placeholder="Buscar" aria-label="Search">
=======
              <form class="d-flex" method="post" action='@Url.Action("BuscarLibro")'>
                <input id="loquepongaenelbuscador" name="loquepongaenelbuscador" class="form-control me-2" type="text" placeholder="Buscar" autocomplete="off" aria-label="Search">
>>>>>>> ec7cb4e241b43c8702b56bf2663c7d1b014e7174
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
              <img src="aeaeaea.jpg" alt="">
            </div>

          </div>
        </div>
      </nav>

</header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
