@{
    ViewData["Title"] = "Privacy Policy";
}

<center>
    <div class="creditos">
        <h1>Matías Aboudara</h1>
        <img src="/Fotos/Foto_Abou.jpg">
    </div>
    <div class="creditos">
        <h1>Maxi Garbarino</h1>
        <img src="/Fotos/Foto Maxi.jpg">
    </div>
    <div class="creditos">
        <h1>Tomás Kalinscky</h1>
        <img src="/Fotos/foto_huevo.jpeg">
    </div>
</center>