@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="carouselExample" class="carousel slide" style="width: 500%; height: 100%;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/Fotos/Foto_Abou.jpg"   class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/Fotos/Foto Maxi.jpg"   class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/Fotos/foto_huevo.jpeg"  class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/Fotos/Foto_Raian.jpg"   class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<center>
    <div class="creditos">
        <h1>Matías Aboudara</h1>
        <img src="/Fotos/Foto_Abou.jpg">
    </div>
    <div class="creditos">
        <h1>Maxi Garbarino</h1>
        <img src="/Fotos/Foto Maxi.jpg">
    </div>
    <div class="creditos">
        <h1>Tomás Kalinscky</h1>
        <img src="/Fotos/foto_huevo.jpeg">
    </div>
    <div class="creditos">
        <h1>Raian Ju Ho Kim</h1>
        <img src="/Fotos/Foto_Raian.jpg">
    </div>

</center>