<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  @{
    ViewData["Title"] = "Home Page";
}

</head>
<body>
  <div class="div-container row row-cols">
  @foreach (Libro item in ViewBag.Libros)
  {
      <div class="card " style="width: 18rem;">
          <div class="img-container">
            <img src="@item.Imagen" class="card-img-top " alt="...">
          </div>

          <div class="card-body">
              <h5 class="card-title">@item.Titulo</h5>
              <button type="button" style="margin: 3px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalLibro" onclick="MostrarInfoLibro(@item.IDLibro)">Ver detalle del Libro</button>
              <button type="button" style="margin: 3px" class="btn btn-primary">Comprar</button>
          </div>
      </div>
  }
  <div class="modal fade" id="ModalLibro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"  id="TituloLibro">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" ID="infoLibro"> 
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
