<link rel="stylesheet" href="~/css/login.css">
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
@{
    ViewData["Title"] = "Home Page";
}
<div class="login-wrap" style="margin-top: 3%">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar sesion</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
		<div class="login-form">
			<form Action='@Url.Action("login","account")' class="sign-in-htm" method="post">

				@if (ViewBag.usuarioEstaMal == true) {
					<h2 class="mensaje-error">Contraseña o usuario incorrecto</h2>
				}

				<div class="group">
					<label for="user" class="label">Usuario</label>
					<input id="user" name="usuario" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Contraseña</label>
					<input id="pass" name="contraseña" type="password" class="input" data-type="password">
				</div>-
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Mantenerme registrado</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Ingresar">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href='@Url.Action("olvide")'>¿Te olvidaste la contraseña?</a>
				</div>
				
			</form>
			
			<form Action='@Url.Action("registro", "Account")' class="sign-up-htm" method="post">
				<div class="group">
					<label for="user" class="label">Nombre de usuario</label>
					<input id="user" name="NombreUsuario" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">contraseña</label>
					<input id="pass" name="contraseña" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Repite la contraseña</label>
					<input id="pass" name="repecontra" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="email" class="label">Email (Opcional)</label>
					<input id="email" name="Gmail" type="text" class="input">
				</div>
                <div class="group">
					<label for="telefono" class="label">Telefono (Opcional)</label>
					<input id="telefono" name="telefono" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Registrarte">
				</div>
			</form>
		</div>
	</div>
</div>