<div id="profile-container">
        <h1>Perfil</h1>
        <div id="profile-info">
            <label for="firstName">Nombre:</label>
            <span id="firstName"></span>

            <label for="lastName">Apellido:</label>
            <span id="lastName"></span>
        </div>
    </div>

