html {
  font-size: 14px;
}
text,p,h1,h2,h3,h4,h5,h6{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.card {
  min-height: 630px;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100vh;
  background-color: rgb(59, 59, 59);
}
.creditos{
  float: left;
  width: 20%;
  margin: 1%;
}
.creditos img {
  width: 300px;
  height: 200px;
}

.button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #ecc24c 0%, #f7920f 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #f7920f;
  transform: translateY(-0.1em);
}

.button:active {
  box-shadow: inset 0px 0.1em 0.6em #f7920f;
  transform: translateY(0em);
}
.card
{
  margin: 5%;
  padding: 5px;
  background-color: #f3dc5ab6;
  border: 2px solid #d66214;
  border-radius: 10px;
  text-align: center;
  min-height: 60%;
}
.card img{
  height: 60%;
  max-height: 470px;
}
footer {
  background-color: #272727b6;;
  border-top: 3px solid #000000;
  color: #bebebeb6;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  clear: both;
  padding: 0px;
}

footer div {
  display: flex;
  align-items: center;
}

footer div img {
  height: 10%;
  width: 10%;
}

footer div a {
  color: #929292;
  text-decoration: none;
  margin-right: 10px;
  display: inline;
}
.div-container
{
  display: flex;
  justify-content: space-between;
}
.img-container
{
  height: 100%;
  display: flex;
  align-items: center;
}
#profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

#profile-info {
  margin-top: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.DiseñoComprar{
  width: 70%;
  background-color: #585858c7;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30%;
}
.color-custom
{
    background-color: rgb(255, 102, 0) !important;
}
.div-expand
{
    display: flex !important; 
    flex-direction: row !important;
    align-items: center !important;
    
}
.div-expand a
{
    margin: 10px;
    display: block;
    text-decoration: none;
    color: black;
    border-width: 0;
}
.navbar-derecha
{
    display: flex;
    flex-direction: row;
}
 img
{
    width: 50px;
}
@media only screen and (min-width: 990px) {
    .img-element
    {
        width: 0%;
    }
  }
.img-Logo
{
  width: 200px;
}
.bg-color
{
  background-color: #272727;
}
.le-color
{
  width: min-content;
  border-radius: 25px;
  color: white !important;
  transition-duration:1.2s;
}

.le-color:hover
{
  background-color: white;
  color: #000000!important;
}