@font-face {
    font-family: 'Croogla 4F';
    src: url('Croogla4F.eot');
    src: local('Croogla 4F'), local('Croogla4F'),
        url('Croogla4F.eot?#iefix') format('embedded-opentype'),
        url('Croogla4F.woff2') format('woff2'),
        url('Croogla4F.woff') format('woff'),
        url('Croogla4F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

